@font-face {
	font-family: "Adelle";
	src: url(../fonts/adelle.ttf);
}

@font-face {
	font-family: "Proxima Nova Semi";
	src: url(../fonts/proximanova-semibold-webfont.ttf);
}

@font-face {
	font-family: "Futura";
	src: url(../fonts/futura.ttf);
}

/*////////// LIGHT GRID //////////*/

body {
	margin: 0;
	padding: 0;
}

* { box-sizing: border-box; }

.container {  
  width: 960px;
  margin: 0 auto;
}

.row {
  clear: both;
  margin-bottom: 2%;
}

.row:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

[class*="col-"] {
  float: left;
  padding: 2%;
  margin-left: 2%;
}

[class*="col-"]:first-child {
  margin-left: 0;
}

.col-1  { width: 6.5%;  }
.col-2  { width: 15%;   }
.col-3  { width: 23.5%; }
.col-4  { width: 32%;   }
.col-5  { width: 40.5%; }
.col-6  { width: 49%;   }
.col-7  { width: 57.5%; }
.col-8  { width: 66%;   }
.col-9  { width: 74.5%; }
.col-10 { width: 83%;   }
.col-11 { width: 91.5%; }
.col-12 { width: 100%;  }

/*////////// TEXT ALIGNMENT //////////*/

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/*////////// HEADER //////////*/

header {
	position: fixed;
	width: 100%;
	height: 175px;
	z-index: 10;
}

	#logo2 {
		padding-top: 58px;
	}


	/*////////// NAV //////////*/

	nav a {
		display: inline-block;
		color: rgb(218,162,137);
		text-decoration: none;
		font: normal 1.3em "Futura";
		padding: 40px 10px 10px;
		max-width: 100%;
	}




/*////////// MAIN //////////*/

/*////////// BACKGROUNDS //////////*/


.box-gradient {
	background: #180e0f; /* Old browsers */
background: -moz-linear-gradient(top,  #180e0f 0%, #180e0f 3%, #190b0f 4%, #150e0f 5%, #170a0d 9%, #130c0d 11%, #150a0b 12%, #120b09 20%, #13080c 21%, #120b0b 21%, #150a0b 23%, #120b0b 24%, #140a0d 25%, #160c0d 32%, #180e0f 33%, #150e0f 34%, #190b0f 36%, #180e0f 36%, #1a0d11 38%, #170e11 40%, #1c0f10 43%, #190f12 44%, #1e1012 48%, #1c1214 51%, #231317 60%, #231718 65%, #26161a 66%, #29171d 73%, #29191b 74%, #2d1e20 85%, #301c20 85%, #342325 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#180e0f), color-stop(3%,#180e0f), color-stop(4%,#190b0f), color-stop(5%,#150e0f), color-stop(9%,#170a0d), color-stop(11%,#130c0d), color-stop(12%,#150a0b), color-stop(20%,#120b09), color-stop(21%,#13080c), color-stop(21%,#120b0b), color-stop(23%,#150a0b), color-stop(24%,#120b0b), color-stop(25%,#140a0d), color-stop(32%,#160c0d), color-stop(33%,#180e0f), color-stop(34%,#150e0f), color-stop(36%,#190b0f), color-stop(36%,#180e0f), color-stop(38%,#1a0d11), color-stop(40%,#170e11), color-stop(43%,#1c0f10), color-stop(44%,#190f12), color-stop(48%,#1e1012), color-stop(51%,#1c1214), color-stop(60%,#231317), color-stop(65%,#231718), color-stop(66%,#26161a), color-stop(73%,#29171d), color-stop(74%,#29191b), color-stop(85%,#2d1e20), color-stop(85%,#301c20), color-stop(100%,#342325)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #180e0f 0%,#180e0f 3%,#190b0f 4%,#150e0f 5%,#170a0d 9%,#130c0d 11%,#150a0b 12%,#120b09 20%,#13080c 21%,#120b0b 21%,#150a0b 23%,#120b0b 24%,#140a0d 25%,#160c0d 32%,#180e0f 33%,#150e0f 34%,#190b0f 36%,#180e0f 36%,#1a0d11 38%,#170e11 40%,#1c0f10 43%,#190f12 44%,#1e1012 48%,#1c1214 51%,#231317 60%,#231718 65%,#26161a 66%,#29171d 73%,#29191b 74%,#2d1e20 85%,#301c20 85%,#342325 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #180e0f 0%,#180e0f 3%,#190b0f 4%,#150e0f 5%,#170a0d 9%,#130c0d 11%,#150a0b 12%,#120b09 20%,#13080c 21%,#120b0b 21%,#150a0b 23%,#120b0b 24%,#140a0d 25%,#160c0d 32%,#180e0f 33%,#150e0f 34%,#190b0f 36%,#180e0f 36%,#1a0d11 38%,#170e11 40%,#1c0f10 43%,#190f12 44%,#1e1012 48%,#1c1214 51%,#231317 60%,#231718 65%,#26161a 66%,#29171d 73%,#29191b 74%,#2d1e20 85%,#301c20 85%,#342325 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #180e0f 0%,#180e0f 3%,#190b0f 4%,#150e0f 5%,#170a0d 9%,#130c0d 11%,#150a0b 12%,#120b09 20%,#13080c 21%,#120b0b 21%,#150a0b 23%,#120b0b 24%,#140a0d 25%,#160c0d 32%,#180e0f 33%,#150e0f 34%,#190b0f 36%,#180e0f 36%,#1a0d11 38%,#170e11 40%,#1c0f10 43%,#190f12 44%,#1e1012 48%,#1c1214 51%,#231317 60%,#231718 65%,#26161a 66%,#29171d 73%,#29191b 74%,#2d1e20 85%,#301c20 85%,#342325 100%); /* IE10+ */
background: linear-gradient(to bottom,  #180e0f 0%,#180e0f 3%,#190b0f 4%,#150e0f 5%,#170a0d 9%,#130c0d 11%,#150a0b 12%,#120b09 20%,#13080c 21%,#120b0b 21%,#150a0b 23%,#120b0b 24%,#140a0d 25%,#160c0d 32%,#180e0f 33%,#150e0f 34%,#190b0f 36%,#180e0f 36%,#1a0d11 38%,#170e11 40%,#1c0f10 43%,#190f12 44%,#1e1012 48%,#1c1214 51%,#231317 60%,#231718 65%,#26161a 66%,#29171d 73%,#29191b 74%,#2d1e20 85%,#301c20 85%,#342325 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#180e0f', endColorstr='#342325',GradientType=0 ); /* IE6-9 */

	box-shadow: 0px 0px 20px 10px #000;
}

.model-1 {
	position: fixed;
	margin-top: -50px;
	z-index: 4;
}

	.model-11 {
		position: fixed;
		margin-top: -50px;
		z-index: 3;
	}



.model-2 {
	position: fixed;
	margin-top: -50px;
	z-index: 2;
}

.model-3 {
	position: fixed;
	margin-top: -80px;
	z-index: 1;
}

/*////////// LEGACY STYLES //////////*/

body {
	margin: 0;
	padding: 0;
}




/*////////// Parallax Content //////////*/


h5 {
	font: normal 1.5em "Proxima Nova Semi";
	color:rgb(218,162,137);
	margin: 0;
	margin-top: 15px;
	margin-bottom: 20px;
}

p {
	color: rgb(218,162,137);
}




.col-4 {
	position: relative;
	margin-top: 360px;
	width: 600px;
	height: 520px;
	background-color: rgb(42,33,34);
	border-radius: 10px;
	box-shadow: 5px 5px 5px 10px rgb(42,33,34);
	z-index: 3;
}


.first-float {
	left: -25px;
	top: 190px;
}


.first-float img, h5, p{
	max-width: 100%;
	width: 100%;
}


.second-float {
	top: -50px;
	left: -25px;
}

.second-float img, h5, p{
	max-width: 100%;
	width: 100%;
}

.third-float img, h5, p{
	max-width: 100%;
	width: 100%;
}

.third-float {
	top: 60px;
	left: -20px;
}


/* ////////// X Burger Menu //////////// */

#line1 , #line2 {
	width: 35px;
	height: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: rgb(218,162,137);
}






























