@font-face {
	font-family: "Adelle";
	src: url(../fonts/adelle.ttf);
}

@font-face {
	font-family: "Proxima Nova Semi";
	src: url(../fonts/proximanova-semibold-webfont.ttf);
}

@font-face {
	font-family: "Futura";
	src: url(../fonts/futura.ttf);
}

/*////////// LIGHT GRID //////////*/

body {
	margin: 0;
	padding: 0;
}

* { box-sizing: border-box; }

.container {  
  width: 960px;
  margin: 0 auto;
}

.row {
  clear: both;
  margin-bottom: 2%;
}

.row:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

[class*="col-"] {
  float: left;
  padding: 2%;
  margin-left: 2%;
}

[class*="col-"]:first-child {
  margin-left: 0;
}

.col-1  { width: 6.5%;  }
.col-2  { width: 15%;   }
.col-3  { width: 23.5%; }
.col-4  { width: 32%;   }
.col-5  { width: 40.5%; }
.col-6  { width: 49%;   }
.col-7  { width: 57.5%; }
.col-8  { width: 66%;   }
.col-9  { width: 74.5%; }
.col-10 { width: 83%;   }
.col-11 { width: 91.5%; }
.col-12 { width: 100%;  }

/*////////// TEXT ALIGNMENT //////////*/

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/*////////// HEADER //////////*/

header {
	position: fixed;
	width: 100%;
	height: 175px;
	z-index: 10;
}

	#logo2 {
		padding-top: 58px;
	}


	/*////////// NAV //////////*/

	nav a {
		display: inline-block;
		color: rgb(218,162,137);
		text-decoration: none;
		font: normal 1.3em "Futura";
		padding: 40px 10px 10px;
		max-width: 100%;
	}




/*////////// MAIN //////////*/

/*////////// BACKGROUNDS //////////*/


.box-gradient {
	background: rgb(51,33,37);
	box-shadow: 0px 0px 20px 10px #000;
}

.model-1 {
	position: fixed;
	margin-top: -50px;
	z-index: 4;
}

	.model-11 {
		position: fixed;
		margin-top: -50px;
		z-index: 3;
	}



.model-2 {
	position: fixed;
	margin-top: -50px;
	z-index: 2;
}

.model-3 {
	position: fixed;
	margin-top: -80px;
	z-index: 1;
}

/*////////// LEGACY STYLES //////////*/

body {
	margin: 0;
	padding: 0;
}




/*////////// Parallax Content //////////*/


h5 {
	font: normal 1.5em "Proxima Nova Semi";
	color:rgb(218,162,137);
	margin: 0;
	margin-top: 15px;
	margin-bottom: 20px;
}

p {
	color: rgb(218,162,137);
}




.col-4 {
	position: relative;
	margin-top: 360px;
	width: 600px;
	height: 520px;
	background-color: rgb(42,33,34);
	border-radius: 10px;
	box-shadow: 5px 5px 5px 10px rgb(42,33,34);
	z-index: 3;
}


.first-float {
	left: -25px;
	top: 190px;
}


.first-float img, h5, p{
	max-width: 100%;
	width: 100%;
}


.second-float {
	top: -50px;
	left: -25px;
}

.second-float img, h5, p{
	max-width: 100%;
	width: 100%;
}

.third-float img, h5, p{
	max-width: 100%;
	width: 100%;
}

.third-float {
	top: 60px;
	left: -20px;
}


/* ////////// X Burger Menu //////////// */

#line1 , #line2 {
	width: 35px;
	height: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	background-color: rgb(218,162,137);
}






























